[submodule "docs"]
	path = docs
	url = https://github.com/bayrell/baylang-docs
[submodule "src/plugins/Runtime"]
	path = src/plugins/Runtime
	url = https://github.com/bayrell/Runtime
[submodule "src/plugins/Runtime.ORM"]
	path = src/plugins/Runtime.ORM
	url = https://github.com/bayrell/Runtime.ORM
[submodule "src/plugins/Runtime.Web"]
	path = src/plugins/Runtime.Web
	url = https://github.com/bayrell/Runtime.Web
[submodule "src/plugins/Runtime.Widget"]
	path = src/plugins/Runtime.Widget
	url = https://github.com/bayrell/Runtime.Widget
